* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    line-height: 1.42;
}


.about__content, .offer__item {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.wrapper {
    background: url(../img/background/hero.jpg) center top no-repeat, url(../img/background/bottom-pic.jpg) center bottom 300px no-repeat, #17191C;
}

.container {
    width: 1150px;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    position: relative;
    min-height: 120px;
}

.logo {
    position: absolute;
    top: 20px;
}
.nav {
    display: inline-block;
    position: absolute;
    left: 442px;
    top: 40px;
}

.nav__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 14px;
}

.nav__link:hover {
    color: #FF3D00;
}

.contacts {
    position: absolute;
    text-align: right;
    right: 0;
    top: 27px;
    line-height: 1.1;
}

.contacts__phone {
    display: block;
    font-size: 26px;
    text-decoration: none;
    color: white;
}

.contacts__workhours {
    text-align: right;
    font-size: 13px;
    color: #FF3D00;
    text-decoration: underline;
    font-display: right;
}

.preview {
    text-align: center;
    margin: 108px 0 233px;
}

.preview__title {
    display: inline;
    font-weight: 800;
    min-width: 776px;
    font-size: 72px;
    text-transform: uppercase;
}

.preview__text {
    font-size: 18px;
    margin: 13px 0 38px;
}

.button {
    padding: 18px 55px;
    background: #FF5500;
    border: 0;
    border-radius: 35px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: white;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: 0.4s;
}

.button:hover {
    background: #FF3D00;
}

.offer {
    margin-bottom: 180px;
}

.offer__item {
    display: inline-block;
    vertical-align: top;
    width: 362px;
    min-height: 476px;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 14px;
    border: 5px solid transparent;
    padding: 31px 19px 48px;
    margin-right: 23px;
}

.offer__item:last-child {
    margin-right: 0;
}

.offer__item:hover {
    border: 5px solid #cccccc;
    padding: 31px 19px 48px;
}

.offer__content {
    color: #666666;
}

.offer__subtitle {
    color: black;
    font-size: 32px;
    margin: 25px 0 15px;
}

.offer__features-item {
    font-size: 16px;
    display: inline-block;
    width: 123px;
    margin-right: 57px;
}

.offer__features-item:last-child {
    margin-right: 0;
}

.offer__features-item b {
    color: black
}

.offer__info {
    margin: 25px 0 29px;
}

.offer__btn {
    background: white;
    border: 2px solid #FF5500;
    color: #FF5500;
    min-width: 198px;
}

.offer__btn:hover {
    background: #FF5500;
    color: white;
}


.news__subtitle {
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 51px;
}

.news__item {
    width: 560px;
    display: inline-block;
    position: relative;
    margin-right: 22px;
}

.news__img {
    width: 100%;
    height: 100%;
}

.news__item:last-child {
    margin-right: 0;
}

.news__content {
    position: absolute;
    bottom: 15px;
    padding: 30px 83px 15px 30px;
}

.news__content-date {
    font-size: 14px;
}

.news__content-subtitle {
    font-size: 24px;
    font-weight: 700;
    margin: 12px 0 5px;
}

.paginator {
    text-align: center;
    margin: 44px 0 145px;
}

.paginator__display, .paginator__list {
    display: inline-block;
    vertical-align: middle;
}

.paginator__display {
    margin-right: 25px;
}

.paginator__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    font-weight: bold;
    width: 32px;
    height: 32px;
    background: transparent;
    border-radius: 50%;
    position: relative;
    line-height: 32px;
}


.paginator__item--active .paginator__link, .paginator__item:hover {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #FF5500;
    border-radius: 50%;
    position: relative;
    line-height: 32px;
}

.about__img {
    display: inline-block;
    vertical-align: top;
}

.about__content {
    display: inline-block;
    width: 786px;
    height: 455px;
    background: #FFFFFF;
    color: black;
    border-radius: 5px;
    padding: 70px 81px;
    margin: 97px 0 53px -136px;
}

.about__title {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 37px;
}

.about__text {
    width: 502px;
    font-size: 16px;
    margin-bottom: 86px;
}

.about__text p {
    margin-bottom: 20px;
}

.about__text p:last-child {
    margin-bottom: 0;
}

.about__btn {
    padding: 18px 40px;
}

.footer {
    position: relative;
    min-height: 146px;
    vertical-align: top;
    border-top: rgba(255, 255, 255, 0.1) solid 2px;
}


.footer .logo {
    position: absolute;
    top: 40px;
}

.footer .nav {
    left: 330px;
    top: 59px;
}

.media {
    position: absolute;
    right: 230px;
    top: 53px;
}

.media__item {
    display: inline-block;
    margin-right: 8px;
}

.media__item:last-child {
    margin-right: 0;
}

.footer .contacts {
    top: 42px;
}

.contacts__calls {
    font-size: 11px;
    color: #9A9A9A;
}