.button {
    padding: 18px 55px;
    background: #FF5500;
    border: 0;
    border-radius: 35px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: 0.4s;
}

.button:hover {
    background: #FF3D00;
}

.button:focus {
    outline: none;
}

.about__btn {
    padding: 18px 40px;
}

.offer__btn {
    background: white;
    border: 2px solid #FF5500;
    color: #FF5500;
    min-width: 198px;
}

.offer__btn:hover {
    background: #FF5500;
    color: white;
}

.services__btn {
    padding: 16px;
    background: #F4F5F5;;
    border: 2px solid #FF5500;
    color: #FF5500;
    min-width: 198px;
}

.services__btn:hover {
    background: #FF5500;
    color:#F4F5F5;;
}

.form__btns {
    display: flex;
    justify-content: flex-end;
}

.form__btn {
    padding: 18px 40px;
    margin-right: 13px;
}

.form__btn:last-child {
    margin-right: 0;
}

.form__btn--gray {
    background:#8E8E8E;
}

.form__btn--gray:hover {
    background: #2B2B2B;
}