.paginator {
    text-align: center;
}

.paginator__display, .paginator__list {
    display: inline-flex;
}

.paginator__display {
    margin-right: 25px;
    width: 125px;
    justify-content: space-between;
}

.paginator__item {
    margin-right: 5px;
    font-weight: bold;
    width: 32px;
    height: 32px;
    background: transparent;
    border-radius: 50%;
    position: relative;
    line-height: 32px;
}

.paginator__item:last-child {
    margin-right: 0;
}

.paginator__link {
    display: block;
}

.paginator__item--active .paginator__link, .paginator__item:hover {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #FF5500;
    border-radius: 50%;
    line-height: 32px;
}

.feedback .paginator {
    color: black;
}

.paginator__item--active .paginator__link {
    color: white;
}

.services .paginator__item--active, .paginator__item:hover{
    background: #FF5300;
    color: #fff;
}
