.feedback {
    background: #fff;
    display: flex;
    padding: 94px 0;
}

.feedbacks {
    display: flex;
    margin: 0 -27px 70px 0;
}

.feedback__list {
    margin: 0 27px -30px 0;
    columns: 2;
}

.feedback__item {
    display: inline-block;
    background: #F4F5F5;
    color: black;
    border-radius: 5px;
    margin-bottom: 17px;
    padding: 50px 30px 32px;
    position: relative;
}

.feedback__who {
    display: flex;
    margin-bottom: 27px;
}

.feedback__who-img {
    flex-shrink: 0;
    width: 142px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 22px;
}

.who__img-elem {
    width: 100%;
}

.feedback__who-content {
    align-self: center;
    margin-bottom: -5px;
}

.who__name {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.who__name:after {
    content: "";
    width: 30px;
    height: 30px;
    background: url(../../img/media/vk-blue.png);
    position: relative;
    display: inline-block;
    top: 5px;
}

.who__name:hover {
    color: #2E77A4;
    text-decoration: underline;
}

.tag {
    display: inline-flex;
    padding: 10px 25px;
    background: #F2D4C9;
    color: black;
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
    border-radius: 35px;
    margin: 0 10px 5px 0;
}

.tag:last-child {
    margin-right: 0;
}

.feedback__subtitle {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 13px;
}

.feedback__text {
    font-size: 16px;
    color: #818181;
    line-height: 1.6;
    margin-bottom: 55px;
}

.feedback__date {
    position: absolute;
    bottom: 32px;
}

