.footer {
    display: flex;
    justify-content: space-between;
    min-height: 146px;
    padding-top: 40px;
    border-top: rgba(255, 255, 255, 0.1) solid 2px;
    background:#17191C;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    border-top: none;
}

.footer .nav {
    margin-top: 19px;
}

.media {
    display: flex;
    margin-top: 13px;
}

.media__item {
    margin-right: 8px;
}

.media__item:last-child {
    margin-right: 0;
}

.media__link {
    display: block;
    width: 36px;
    height: 36px;
}

.media__item--telegram {
    width: 36px;
    height: 36px;
    position: relative;
}

.media__item--telegram .media__link:after {
    content: '';
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(../../img/media/css_sprites.png) -122px -10px;
}

.media__item--telegram .media__link:hover:after {
    content: '';
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(../../img/media/css_sprites.png) -122px -66px;
}

.media__item--vk .media__link:after {
    content: '';
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(../../img/media/css_sprites.png) -10px -122px;
}

.media__item--vk .media__link:hover:after {
    content: '';
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(../../img/media/css_sprites.png) -66px -122px;
}

.media__item--facebook .media__link:after {
    content: '';
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(../../img/media/css_sprites.png) -10px -10px;
}

.media__item--facebook .media__link:hover:after {
    content: '';
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(../../img/media/css_sprites.png) -66px -10px;
}

.media__item--instagram .media__link:after {
    content: '';
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(../../img/media/css_sprites.png) -10px -66px;
}

.media__item--instagram .media__link:hover:after {
    content: '';
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(../../img/media/css_sprites.png) -66px -66px;
}

.footer .contacts {
    margin-top: 2px;
}

.contacts__calls {
    font-size: 11px;
    color: #9A9A9A;
}