.footer {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    min-height: 146px;
    border-top: rgba(255, 255, 255, 0.1) solid 2px;
}

.footer .logo {
    margin-top: 40px;
}

.footer .nav {
    margin-top: 59px;
}

.media {
    display: flex;
    margin-top: 53px;
}

.media__item {
    margin-right: 8px;
}

.media__item:last-child {
    margin-right: 0;
}

.footer .contacts {
    margin-top: 42px;
}

.contacts__calls {
    font-size: 11px;
    color: #9A9A9A;
}