.header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    min-height: 120px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    min-height: 140px;
}

.nav {
    margin-top: 20px;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 50px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 14px;
}

.nav__link:hover {
    color: #FF3D00;
}

.contacts {
    text-align: right;
    margin-top: 7px;
    line-height: 1.1;
}

.contacts__phone {
    display: block;
    font-size: 26px;
    text-decoration: none;
    color: white;
}

.contacts__workhours {
    font-size: 13px;
    color: #fff;
    text-decoration: underline;
    font-display: right;
    position: relative;
}

.contacts__workhours:hover {
    color: #FF3D00;
}

.contacts__workhours:hover .dropdown {
    display: block;
 }

.dropdown {
    position: absolute;
    width: 160px;
    min-height: 60px;
    background: #FFF;
    top: 170%;
    right: 0;
    text-align: left;
    padding: 15px 19px;
    box-sizing: border-box;
    font-weight: 600;
    opacity: 0.8;
    border-radius: 4px;
    color: black;
    display: none;
}

.dropdown:before {
    content: "";
    display: block;
    height: 15px;
    left: 0;
    right: 0;
    top: -15px;
    position: absolute;

 }

 .dropdown:after {
    content: "";
    position: absolute;
    display: block;
    right: 50px;
    border: 10px solid transparent;
    width: 0px;
    height: 0px;
    border-bottom-color: #fff;
    top: -10px;
    border-top-width: 0;
 }
