.header {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
}

.logo {
    margin-top: 20px;
}
.nav {
    margin-top: 40px;
}

.nav__list {
    display: inline-flex;
}

.nav__item {
    margin-right: 50px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 14px;
}

.nav__link:hover {
    color: #FF3D00;
}

.contacts {
    text-align: right;
    right: 0;
    margin-top: 27px;
    line-height: 1.1;
}

.contacts__phone {
    display: block;
    font-size: 26px;
    text-decoration: none;
    color: white;
}

.contacts__workhours {
    text-align: right;
    font-size: 13px;
    color: #FF3D00;
    text-decoration: underline;
    font-display: right;
}