.offer {
    margin-bottom: 180px;
}

.offer__list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.offer__item {
    width: calc(100% / 3 - 21px);
    min-height: 476px;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 14px;
    border: 5px solid transparent;
    padding: 31px 19px 48px;
}

.offer__item:hover {
    border: 5px solid #cccccc;
    padding: 31px 19px 48px;
}

.offer__content {
    color: #666666;
}

.offer__subtitle {
    color: black;
    font-size: 32px;
    margin: 25px 0 15px;
}

.offer__features {
    display: flex;
    justify-content: space-between;
}

.offer__features-item {
    font-size: 16px;
    width: 123px;
}

.offer__features-item:last-child {
    margin-right: 0;
}

.offer__features-item b {
    color: black
}

.offer__info {
    margin: 25px 0 29px;
}

