.preview {
    text-align: center;
    margin: 108px 0 233px;
}

.preview__title {
    display: inline;
    font-weight: 800;
    min-width: 776px;
    font-size: 72px;
    text-transform: uppercase;
}

.preview__text {
    font-size: 18px;
    margin: 13px 0 38px;
}

