.preview {
    text-align: center;
    margin: 108px 0 233px;
}

.preview__title {
    display: inline;
    font-weight: 800;
    min-width: 776px;
    font-size: 72px;
    text-transform: uppercase;
}

.preview__text {
    font-size: 18px;
    margin: 13px 0 38px;
}

.button {
    padding: 18px 55px;
    background: #FF5500;
    border: 0;
    border-radius: 35px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: 0.4s;
}

.button:hover {
    background: #FF3D00;
}